<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <p>
            <h1>Rangos says...</h1>
            here is the about page.
        </p>
        <div>
            <img src="{% get_media_prefix %}cat.webp" alt="picture of Rango and her"><br />
        </div>
        <p>
            This tutorial have been put together by Camila Pua<br/>    
        </p>
        <p>
            <a href="/">Return to home</a><br/>
        </p>
    </body>

</html>